@import "tailwindcss";
@import "./colors.css";
@import "./text.css";
@import "./shadow.css";
@import "./button.css";

@theme{
    --spacing: 8px;

    --radius-*: initial;
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
    --radius-2xl: 24px;
    --radius-3xl: 32px;
}

html,body{
    height: 100%;
}

button{
    cursor: pointer;
}

.input-field{
    border: 1.5px solid var(--color-neutral-300);
    border-radius: var(--radius-sm);
    padding: 12px;
    outline: none;

    &:focus{
        border-color: var(--color-blue-500);
    }
}